<div class="full_page_panel center_this">


  <form name="dunderForm" id="dunderForm" class="center_this" ng-submit="validate(dunderForm)">
    <h1>Welcome to Dunder-Mifflin</h1>

    <p>Welcome to the Dunder-Mifflin internal network.</p>
    <p>Please enter your username to view your posts and comments.</p>

    <div class="col-md-12">
      <label class="center_this">Email:</label>
    </div>

    <div class="col-md-12 center_this">
      <!-- ng-change="getUsers()" -->
      <input type="email" name="input" ng-model="email.text" required>
    </div>
    <div class="col-md-12">
      <br>
      <div role="alert" class="center_this">
        <button type="submit" ng-disabled="dunderForm.invalid">SEND</button>
      </div>
      <br>

    </div>
    <div class="col-md-12" class="center_this">
      <div role="alert" class="center_this ">

        <h4>{{warningMessage}}</h4>

        <h4 class="error" ng-show="dunderForm.input.$error.required">
          Please enter an email address.
        </h4>

        <h4 class="error" ng-show="dunderForm.input.$error.email">
          Not a valid email..
        </h4>

      </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="col-md-12">
      <div class="center_this">
        <h5>Test emails</h5>
        <h6>Nathan@yesenia.net</h6>
        <h6>Sincere@april.biz</h6>
        <h6>Shanna@melissa.tv</h6>
        <br>
        <div class="center_this">
          <button ng-click="deleteCookies()">DELETE COOKIES</button>
        </div>
      </div>
    </div>

  </form>




</div>