<div>

  <div class="col-md-12">
    <h1>DUNDER-MIFFLIN</h1>
  </div>
  <div class="col-md-12">
    {{currentUser}}
  </div>
  <div class="col-md-3">
    {{currentUser.name}}
    {{currentUser.username}}
    {{currentUser.address.street}}
    {{currentUser.address.suite}}
    {{currentUser.address.city}}
    {{currentUser.address.zipcode}}
    {{currentUser.phone}}
    {{currentUser.website}}
    {{currentUser.company.name}}
    {{currentUser.company.catchPhrase}}
    {{currentUser.company.bs}}
  </div>
  <div class="col-md-9">
    {{currentUser}}
  </div>

</div>