<div class="full_page_panel">

  <div class="col-md-12">
    <div class="col-sm-10">
      <br>
      <h1>DUNDER-MIFFLIN</h1>
      <br>
    </div>

    <div class="col-sm-2"> <br>
      <div class="center_this">
        <button ng-click="deleteCookies()">LOGOUT</button>
      </div>
      <br>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <h6>Name: {{currentUser.name}}</h6>
      <h6>Username: {{currentUser.username}}</h6>
      <h6>Street: {{currentUser.address.street}}</h6>
      <h6>Suite: {{currentUser.address.suite}}</h6>
      <h6>City: {{currentUser.address.city}}</h6>
      <h6>Zipcode: {{currentUser.address.zipcode}}</h6>
      <h6>Phone: {{currentUser.phone}}</h6>
      <h6>Website: {{currentUser.website}}</h6>
      <h6>Company Name: {{currentUser.company.name}}</h6>
      <h6>Catch Phrase: {{currentUser.company.catchPhrase}}</h6>
      <h6>BS: {{currentUser.company.bs}}</h6>
      <h6>ID: {{currentUser.id}}</h6>
    </div>
  </div>

  <div class="col-md-8">

    <div ng-repeat="post in currentPosts">
      <div class="card">
        <h2>Title</h2>
        <p>{{post.title}}</p>
        <h2>Body</h2>
        <p>{{post.body}}</p>
        <h2>Comments</h2>
        <div ng-repeat="comment in post.comments">
          <p>{{comment.email}}</p>
          <p>{{comment.body}}</p>
        </div>
      </div>
    </div>
  </div>



</div>